
html { 
  var(accent-color): window-accent-color; 
  var(window-caption-back): transparent;
  var(window-caption-text): var(widget-text,#000);
  var(window-border-color): transparent;
  border: window-frame-width solid transparent;
  //border-radius:8px;
  //box-shadow:1px 1px 10px rgba(0,0,0,0.2);

}

html:owns-focus {
  var(window-border-color): morph(color(accent-color), opacity:50%);
  //box-shadow:1px 1px 10px rgba(0,0,0,0.4);
}

@media ui-accented-window-decoration {
  html {
    var(window-caption-back): transparent;
    var(window-caption-text): color(widget-text);
    var(window-border-color): transparent;
  }
  html:owns-focus {
    var(window-caption-back): window-accent-color;
    var(window-caption-text): window-accent-text-color;
    var(window-border-color): window-accent-color;
  }
}


html > header { width:*; flow:horizontal; height:window-caption-height; margin:0; 
                background-color:color(window-caption-back); color: color(window-caption-text); } 
html > header > window-caption { display:block; line-height:window-caption-height; width:*; padding:0 1em; }
html > header > window-buttons { display:block; flow:horizontal; width:max-content; height:*; }
html > header > window-buttons > window-button { 
  behavior:clickable; 
  display:block; 
  height:*; 
  width:window-button-width; 
  foreground-size: 24px 19px;
  foreground-repeat: no-repeat;
  foreground-position:50% 50%;
  stroke-width:0;
  fill:color(window-caption-text);
  //transition: background-color linear 100ms;
}
html > header > window-buttons > window-button:hover { background:rgba(0,0,0,0.25);  }
html > header > window-buttons > window-button[role="window-close"] { foreground-image: url(icon:window-close); }
html > header > window-buttons > window-button[role="window-close"]:hover { background:rgb(232,17,35); fill:#fff; }

html > header > window-buttons > window-button[role="window-maximize"] { foreground-image: url(icon:window-maximize); }

html[window-state="maximized"] { border-color:transparent; }
html[window-state="maximized"] > header > window-buttons > window-button[role="window-maximize"] { foreground-image: url(icon:window-restore); }
html > header > window-buttons > window-button[role="window-minimize"] { foreground-image: url(icon:window-minimize); }

frame { size:*; background-color: transparent; }
